* {
  box-sizing: border-box;
}

body {
  font-size: 18px;
  padding: 10px;
  background: #f1f1f1;
  background-image: url("images/image1.jpg");
}

h2 {
  margin:  5px 0 5px 0 ;
}

.header {
  padding: 30px;
  text-align: center;
  background: white;
  background-image: url("images/image2.jpg");
  background-size: cover;
  border-radius: 10%;
}

.header h1 {
  font-size: 50px;
}


.topnav {
  overflow: hidden;
  background-color: #333;
  border-radius: 10%;
}


.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
  margin-left : 100px;
}


.topnav a:hover {
  background-color: #D4AA7A;
  color: black;
}


.leftcolumn {   
  float: left;
  width: 75%;
}



.rightcolumn {

  float: left;
  width: 25%;
  padding-left: 20px;
  padding-top: 50px;
}


.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding:10px;
}



.card {
  padding: 10px;
  
}


.row:after {
  content: "";
  display: table;
  clear: both;
}

p ,h1,h2,h3,h4,h5,a {
  font-family: "Cursive",  Monotype Corsiva, Author, Zapf Chancery;
  
}

.p1 {
  font-family: "Cursive";
}

li {
  display: inline-block;
  margin: 0 10px;
}

.footer {

  width:600px;
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("images/image4.jpg");
  background-size: cover;
  opacity: 80%;
  border-style: groove;
  border-color: gold;
}

@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}

a.button {
  margin-left: 50px;
  display: inline-block;
  
  font-weight: 700;
  text-decoration: none;
  user-select: none;
  padding: .5em 2em;
  outline: none;
  border: 2px solid gold;
  border-radius: 1px;
  transition: 0.2s;
} 
a.button:hover { background: rgba(255,255,255,.2); }
a.button:active { background: white; }
